*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}

#main-container{
    height: 100%;
    width: 100%;
}

#nav{
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px 25px;
}

#nav1 span{
    color: lightpink;
}

#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav1 h1{
    font-size: 30px;
    border: 1px solid rgb(90, 90, 250);
    padding: 5px;
    font-weight: 1000;
    border-radius: 10px;
}

#nav1 i{
    font-size: 30px;
    padding: 5px;
    font-weight: 100;
    border-radius: 10px;
}

#nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#nav2 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
}

#nav2 a:hover{
    color: lightpink;
    transition: color 0.3s ease;
    font-size: 26px;
}

#nav2 #btn1{
    padding: 15px;
    border: 1px solid rgb(75, 75, 75);
    background-color: lightpink;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

#nav2 #btn2{
    padding: 15px;
    border: 1px solid rgb(75, 75, 75);
    background-color: black;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
}

#nav2 #btn2:hover{
    background-color: transparent;
    color: lightpink;
    transition: background-color 0.3s ease;
    border: 1px solid rgb(40, 40, 160);
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#one-line{
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    color: rgb(170, 170, 170);
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 1000;
    font-family: gilroy;
    line-height: 100px;
}

h1 .span-line{
    color: blue;
    font-size: 125px;
}

img{
    height: 300px;
    width: 900px;
    border-radius: 25px;
    object-position: top;
    margin-bottom: 20px;
}



/* css for form */
#register-heading{
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: rgb(170, 170, 170);
    margin-top: 40px;
    font-weight: 1000;
}

form{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(186, 167, 167);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.5);
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8787b0;
    border-radius: 5px;
}

#btn3{
    width: 100%;
    padding: 10px;
    background: rgb(0, 0, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

#btn3:hover{
    background-color: rgb(115, 115, 159);
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/* css for resources */
#resources{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#resources-h1{
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: rgb(99, 99, 99);
    /* margin-top: 40px; */
    font-weight: 1000;
}
.resouce-img{
    width: 350px;
    height: 250px;
    margin: 2rem;
    object-fit: cover;
    cursor: pointer;
}


/* css for fetch api */
h1 {
    color: #333;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.book {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book h2 {
    font-size: 18px;
    margin: 10px 0;
}

.book p {
    font-size: 14px;
    color: #666;
}




/* About Section */
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-image: url('image/background\ image\ 2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    padding: 100px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}
#about-heading{
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: rgb(170, 170, 170);
    margin-top: 40px;
    font-weight: 1000;
}
#about p{
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 20px;
    left: 50%;
    right: 50%;
    position: relative;
    transform: translate(-50%);
}
#about-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}


#about-social-media{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
    align-items: center;

    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: rgb(115, 115, 159);
    }
    a{
        color: white;
        text-decoration: none;
    }
    i{
        font-size: 30px;
    }

}


/* css for footer */
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}







/* Responsive  */
@media (max-width: 425px) {
    
    #nav{
        height: 100px;
        width: 100%;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding: 0px 25px;
    }
    
    #nav1 span{
        color: lightpink;
    }
    
    #nav1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #nav1 h1{
        font-size: 10px;
        align-items: center;
    }
    
    #nav1 i{
        display: none;
    }
    
    #nav2{
        display: none;
    }
    
    #one-line{
        font-size: 30px;
        line-height: 50px;
    }
    
    h1 .span-line{
        font-size: 50px;
    }
    
    img{
        height: 200px;
        width: 300px;
        border-radius: 25px;
        object-position: top;
        margin-bottom: 20px;
    }
    
    
    
    /* css for form */
    #register-heading{
        font-size: 20px;
        margin-top: 35px;
    }
   
    
    /* css for resources */
    #resources-h1{
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
        color: rgb(99, 99, 99);
        /* margin-top: 40px; */
        font-weight: 1000;
    }
    #resources{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    /* css for fetch api */
    #book-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .book {
        padding: 8px;
    }
    
    
    .book h2 {
        font-size: 15px;
        margin: 15px 0;
    }
    
    /* About Section */
    #about{
        margin-top: 50px;
    }
    
    
}

