*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-bottom: 5rem;
    width: 100%;
    height: 100%;
    color:#2C2E39;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: .5rem;
    color: rgb(255, 56, 56);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#nametag{
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: rgb(149, 78, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
}
p{
    font-size: 1.5rem;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 600;

}
img {
    margin: 2rem;
    width: 40vw;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
table {
    width: 50vw;
    height: 70vh;
    outline: 3px solid black;
    border-collapse: collapse;
    margin: 2rem;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    color: black;
  }
  td{
    font-size: 30px;
  }
  .tableTitle{
        font-weight: 800;
        font-size: 50px;
  }
  a{
    color: rgb(120, 4, 108);
    text-decoration: none;
  }
  a:hover{
    color: rgb(255, 0, 0);
  }
  .buttoncont{
    position: absolute;
    margin-bottom: 2rem;
    right: 20%;
  }
  .button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button:active,
  .button:hover {
    outline: 0;
  }
  
  .button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button {
      font-size: 24px;
      min-width: 196px;
    }
  }